.pbit/
.pbix/
.pbir/
.pbitproj/
.pbixproj/
.pbirproj/
.vscode/
dataset/.data/
dataset/.cache/
dataset/.temp/
dataset/bin/
dataset/obj/
dataset/.pbi/
reports/.pbi/
diagnostics/
*.tmp
*.temp
*~
*.log
*.bak
.user 